.card {
  width: 27.5vw;
}
.img {
  width: inherit;
  height: 20vw;
  border-radius: 24px;
}
.stayDetails {
  width: inherit;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  margin-top: 15px;
  align-items: center;
}
.rating {
  display: flex;
  align-items: center;
  justify-content: center;
}
.starIcon {
  color: #eb5757;
  font-size: 18px;
  margin-right: 7px;
}
.type {
  font-size: 14px;
  font-weight: 500;
  color: #828282;
  line-height: 17px;
}
.title {
  font-size: 16px;
  font-weight: 600;
  line-height: 19.5px;
  margin-top: 12px;
  color: #333333;
  margin-bottom: 50px;
}
.superHost {
  width: 100px;
  border: 1px solid #4f4f4f;
  border-radius: 12px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.superHost p {
  font-weight: 700;
  font-size: 12px;
  color: #4f4f4f;
}

@media only screen and (max-width: 1024px) {
  .img {
    border-radius: 2vw;
  }
  .stayDetails {
    font-size: 1.8vw;
    margin-top: unset;
  }
  .starIcon {
    font-size: 2.5vw;
    margin: unset;
  }
  .title {
    font-size: 1.6vw;
    margin-top: unset;
    margin-bottom: 3vw;
    line-height: unset;
  }
  .type {
    font-size: 1.5vw;
    line-height: unset;
  }
  .superHost {
    height: 2.6vw;
    width: 13vw;
  }
  .superHost p {
    font-size: 1.15vw;
  }
}

@media only screen and (max-width: 420px) {
  .card {
    width: unset;
  }
  .img {
    border-radius: 24px;
    width: 93.3vw !important;
    height: 240px;
  }
  .stayDetails {
    font-size: 12px;
    margin-top: 18px;
  }
  .starIcon {
    font-size: 18px;
    margin-right: 6.3px;
  }
  .title {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 32px;
    line-height: 17px;
  }
  .type {
    font-size: 12px;
    line-height: 14.6px;
  }
  .superHost {
    height: 25px;
    width: 23.5vw;
  }
  .superHost p {
    font-size: 10px;
    line-height: 12px;
  }
}
