.locationName {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400;
}
.listItem {
  margin-top: 36px;
}
.listItem:hover {
  cursor: pointer;
  transform: translateX(20px);
  transition: 0.3s linear;
}
