.Header {
  width: 100%;
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logoWrapper {
  margin-left: 6.65vw;
}

@media only screen and (max-width: 420px) {
  .Header {
    flex-direction: column;
  }
  .logoWrapper {
    align-self: flex-start;
  }
  .logoWrapper img {
    width: 18.4vw;
  }
}
