.destination {
  list-style: none;
  height: 240px;
}
.locationList {
  color: black;
  z-index: 100;
  list-style: none;
}
.guestList {
  list-style: none;
}
.adults {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
}
.adultsLabel,
.childrenLabel {
  font-weight: bold;
}
.adultsDefinition,
.childrenDefinition {
  color: darkgrey;
  margin-bottom: 12px;
}
.children {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
}
