@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
.modalOverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(79, 79, 79, 0.4);
  z-index: 10;
}
