.searchField {
  display: flex;
  justify-content: center;
  margin-top: 90px;
  height: 55px;
  box-shadow: 0px 1px 6px 0px #0000001a;
  border-radius: 16px;
  margin-left: 8vw;
}
.searchLocation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30vw;
  border: 1px solid white;
}
.searchLocation:hover,
.guests:hover {
  cursor: pointer;
  transition: 0.1s linear;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  border-radius: 16px;
}
.searchLocationOnFocus {
  transition: 0.1s linear;
  border-color: #333333;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  border-radius: 16px;
}
.guestsOnFocus {
  transition: 0.1s linear;
  border: solid 1px #333333 !important;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  border-radius: 16px;
}
.locationLabel {
  font-size: 9px;
  font-weight: 800;
  line-height: 12px;
  margin-bottom: 2px;
}
.locationName {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.searchLocation span {
  padding-left: 27px;
}
.guests {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30vw;
  border: solid 1px white;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
}
.guestLabel {
  font-size: 9px;
  font-weight: 800;
  line-height: 12px;
  padding-left: 27px;
  margin-bottom: 2px;
}
.addGuests {
  border: none;
  outline: none;
  padding-left: 27px;
  background-color: inherit;
  color: #bdbdbd;
  font-size: 14px;
  font-weight: 400;
}
.searchButtonWrapper {
  width: 27vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 127px;
  font-size: 14px;
  font-weight: 700;
  color: white;
  background: #eb5757;
  border: none;
  border-radius: 16px;
  box-shadow: 0px 1px 6px 0px #0000001a;
}
.searchButton:hover {
  cursor: pointer;
  background: #b42424;
  transition: 0.3s;
}
.searchButton span {
  margin-left: 10px;
}
.searchIcon {
  font-size: 20px;
  margin-top: 5px;
  margin-right: -5px;
}
