@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.App {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer {
  margin-top: 100px;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 14px;
  color: #828282;

  font-family: 'Montserrat', sans-serif;
}
.footer span,
a {
  color: #474747;
  text-decoration: underline;
}
